


/*--------------- TR ---------------*/

/*Turk*/
@font-face {
  font-family: "Open Sans Regular";
  src: url('../fonts/OpenSans-VariableFont_wdth_2Cwght.ttf') format("truetype");
}


/*--------------- FA ---------------*/

/*Estedad-FD-Black*/
@font-face {
  font-family: "Estedad-FD-Black";
  src: url('../fonts/Estedad/fa/Estedad-FD-Black.ttf') format("truetype");
}
/*Estedad-FD-Bold*/
@font-face {
  font-family: "Estedad-FD-Bold";
  src: url('../fonts/Estedad/fa/Estedad-FD-Bold.ttf') format("truetype");
}
/*Estedad-FD-Medium*/
@font-face {
  font-family: "Estedad-FD-Medium";
  src: url('../fonts/Estedad/fa/Estedad-FD-Medium.ttf') format("truetype");
}
/*Estedad-FD-Light*/
@font-face {
  font-family: "Estedad-FD-Light";
  src: url('../fonts/Estedad/fa/Estedad-FD-Light.ttf') format("truetype");
}
/*Estedad-FD-Thin*/
@font-face {
  font-family: "Estedad-FD-Thin";
  src: url('../fonts/Estedad/fa/Estedad-FD-Thin.ttf') format("truetype");
}

.Estedad_FD_Black {
  font-family: 'Estedad-FD-Black',Tahoma, Sans-Serif !important;
 }
.Estedad_FD_Bold {
  font-family: 'Estedad-FD-Bold',Tahoma, Sans-Serif !important;
}
.Estedad_FD_Medium {
  font-family: 'Estedad-FD-Medium',Tahoma, Sans-Serif !important;
}
.Estedad_FD_Light {
  font-family: 'Estedad-FD-Light',Tahoma, Sans-Serif !important;
}
.Estedad_FD_Thin {
  font-family: 'Estedad-FD-Thin',Tahoma, Sans-Serif !important;
}
.Estedad_FD {
  font-family: 'Estedad-FD-Medium',Tahoma, Sans-Serif !important;
}



/*--------------- EN ---------------*/

/*Estedad-Black*/
@font-face {
  font-family: "Estedad-Black";
  src: url('../fonts/Estedad/en/Estedad-Black.ttf') format("truetype");
}
/*Estedad-Bold*/
@font-face {
  font-family: "Estedad-Bold";
  src: url('../fonts/Estedad/en/Estedad-Bold.ttf') format("truetype");
}
/*Estedad-Medium*/
@font-face {
  font-family: "Estedad-Medium";
  src: url('../fonts/Estedad/en/Estedad-Medium.ttf') format("truetype");
}
/*Estedad-Light*/
@font-face {
  font-family: "Estedad-Light";
  src: url('../fonts/Estedad/en/Estedad-Light.ttf') format("truetype");
}
/*Estedad-Thin*/
@font-face {
  font-family: "Estedad-Thin";
  src: url('../fonts/Estedad/en/Estedad-Thin.ttf') format("truetype");
}

.Estedad_Black {
  font-family: 'Estedad-Black',Tahoma, Open Sans Regular, Sans-Serif !important;
}
.Estedad_Bold {
  font-family: 'Estedad-Bold',Tahoma, Open Sans Regular, Sans-Serif !important;
}
.Estedad_Medium {
  font-family: 'Estedad-Medium',Tahoma, Open Sans Regular, Sans-Serif !important;
}
.Estedad_Light {
  font-family: 'Estedad-Light',Tahoma, Open Sans Regular, Sans-Serif !important;
}
.Estedad_Thin {
  font-family: 'Estedad-Thin',Tahoma, Open Sans Regular, Sans-Serif !important;
}
.Estedad {
  font-family: 'Estedad-Medium',Tahoma, Open Sans Regular, Sans-Serif !important;
}


